@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Nova+Square&family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  font-family: "Open Sans", sans-serif;
  background-image: url(./Cover1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #d8d6d6;
  
}

.my-scrollable-feed {
  width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #817d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}